<div class="outer-container" id="blank">
  <div class="container">
    <div class="dash-inner-container">
      <div class="dash-wrapper">
        <p class="plan-heading">You are signed up for <span><%= @user_health_plan.health_plan.title %></span> </p>
        <p>
          <%= @user_health_plan.health_plan.description %>
        </p>
      </div>
    </div>

    <div class="plan-chart">


    <div id="completion_chart"></div>
  </div>



<%= render 'charts' %>
