<div class="outer-container" id="blank">
  <div class="container">
    <div class="instruction-container">
      Update your health profile.
    </div>
    <div class="health_profile_form">
      <%= render 'update_form' %>
    </div>
  </div>
</div>
