<div id="profile_chart" style="width: 560px; height: 300px;"></div>
<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#profile_chart').highcharts({
      chart: {
        type: 'spline'
      },
      title: {
        text: 'Health Risks'
      },
      xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: {
            day: '%e. %b',
        }
      },
      yAxis: {
        title: { text: '%'}
      },
      series: [{
        name: 'Cardiovascular Risk',
        data: <%= HealthProfile.risk_array(current_user, 'cardiovascular_risk') %>
      },
      {
        name: 'Diabetes Risk',
        data: <%= HealthProfile.risk_array(current_user, 'diabetes_risk') %>
      }]
    });
  });
</script>
