<div class="outer-container" id="blank">
  <div class="container">
    <div class="instruction-container">
      Step 1: complete your health profile.
    </div>
    <div class="health_profile_form">
      <%= render 'form' %>
    </div>

  </div>
</div>
