//  COLORS
$actions: #f6833e;
$buttons: #68B5A8;
$background: #f5f4f0;
$text: #4a4643;
$white: #ffffff;

// MODULAR SCALE
$mod-scale-0: modular-scale(14px, 0, 1.618);
$mod-scale-1: modular-scale(14px, 1, 1.618);
$mod-scale-2: modular-scale(14px, 2, 1.618);
$mod-scale-3: modular-scale(14px, 3, 1.618);

//MIXINS
@mixin submit-field-formatting{
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  line-height: $mod-scale-1;
  border: 1px solid $buttons;
  border-radius: 3px;
}

//grid
$mobile: new-breakpoint(max-width 500px 6);
$tablet: new-breakpoint(max-width 769px 6);



*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Nexus One';
  src: url(http://themes.googleusercontent.com/static/fonts/roboto/v9/vzIUHo9z-oJ4WgkpPOtg13YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

@font-face {
  font-family: 'Nexus Two';
  src: url(http://themes.googleusercontent.com/static/fonts/roboto/v9/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Nexus Three';
  src: url(http://themes.googleusercontent.com/static/fonts/roboto/v9/d-6IYplOFocCacKzxwXSOLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body{
  font-family: 'Nexus Two', Arial, sans-serif;
}

.gn-menu-main,
.gn-menu-main ul {
  margin: 0;
  padding: 0;
  background: white;
  color: #6A6967;
  list-style: none;
  text-transform: none;
  font-weight: 400;
  font-family: 'Nexus Three', Arial, sans-serif;
  line-height: 60px;
}

.gn-menu-main {
  font-family: 'Nexus Three', Arial, sans-serif;
}

.gn-menu-main ul {
  font-family: 'Nexus One', Arial, sans-serif;
}

.gn-menu-main {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  font-size: 13px;
}

.gn-menu-main a {
  display: block;
  height: 100%;
  color: #6A6967;
  text-decoration: none;
  cursor: pointer;
}

.no-touch .gn-menu-main a:hover {
  background: #6A6967;
  color: white;
}

.gn-menu-main > li {
  display: block;
  float: left;
  height: 100%;
  border-right: 1px solid #c6d0da;
  text-align: center;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
  position: relative;
  width: 60px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gn-menu-main > li.gn-username, {
  float: right;
  border: none;
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.gn-menu-main > li.gn-login{
  float: right;
  border-left: 1px solid #c6d0da;
  border-right: none;
}

.gn-menu-main > li.gn-logo{
  border-right: none;
  padding: 0 30px;
  font-weight: bold;
  font-size: $mod-scale-2;

}

.gn-menu-main > li > a {
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.gn-menu-main:after {
  display: table;
  clear: both;
  content: "";
}

.gn-menu-wrapper {
  z-index: 1000;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 60px;
  border-top: 1px solid #c6d0da;
  background: white;
  -webkit-transform: translateX(-60px);
  -moz-transform: translateX(-60px);
  transform: translateX(-60px);
  -webkit-transition: -webkit-transform 0.3s, width 0.3s;
  -moz-transition: -moz-transform 0.3s, width 0.3s;
  transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
  position: absolute;
  overflow-y: scroll;
  width: 370px;
  height: 100%;
}

.gn-menu {
  border-bottom: 1px solid #c6d0da;
  text-align: left;
  font-size: 18px;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
  box-shadow: inset 0 1px #c6d0da
}

.gn-submenu li {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.gn-submenu li a {
  color: #024959
}

.gn-icon::before {
  display: inline-block;
  width: 60px;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;

  line-height: 1;
  speak: none;
}


/* if an icon anchor has a span, hide the span */

.gn-icon span {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
}

.gn-icon-menu::before {
  margin-left: -15px;
  vertical-align: -2px;
  width: 30px;
  height: 3px;
  background: #6A6967;
  box-shadow: 0 3px white, 0 -6px #6A6967, 0 -9px white, 0 -12px #6A6967;
  content: '';
}

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
  background: white;
  box-shadow: 0 3px #6A6967, 0 -6px white, 0 -9px #6A6967, 0 -12px white;
}

.gn-icon-menu.gn-selected::before {
  background: #f6833e;
  box-shadow: 0 3px white, 0 -6px #f6833e, 0 -9px white, 0 -12px #f6833e;
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
  width: 340px
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
  height: 60px
}

@media screen and (max-width: 720px) {

    .gn-menu-wrapper {
      // fix for Android
      margin-left: -60px;
    //
    }


    .gn-menu-wrapper.gn-open-all {
      // fix for Android
      margin-left: 0px;

      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      transform: translateX(0px);
      width: 100%;
    }

    .gn-menu-wrapper.gn-open-all .gn-scroller {
      width: 130%
    }
}

html {
  background-color: #f5f4f0;
  color: #4a4643;
}

// CONTENT

.outer-container{
  background-image: image-url("android.png");
  border-bottom: 1px solid $white;
}

.outer-container#blank{
  background-image: none;
  border-bottom: none;
}

.container{
  @include outer-container;
  padding: $mod-scale-3 0;
  @include media($tablet) {
    padding: $mod-scale-2 0;
  }
}

.signup-inner-container{
  @include span-columns(6);
  @include media($tablet) {
    @include span-columns(6);
  }
}

h1.signup-heading{
  font-size: $mod-scale-3;
  font-family: 'Nexus Three', Arial, sans-serif;
  @include media($tablet) {
    text-align: center;
    padding: 0 10px;
  }
}

p.signup-subheading{
  font-weight: bold;
  @include media($tablet) {
    text-align: center;
    padding: 0 10px;
  }
}


.signup-form{
  @include span-columns(6);
  @include omega();
  @include media($tablet) {
    @include span-columns(6);
    @include omega();
  }
}

.signup-form-inner{
  box-sizing: border-box;
  width: 60%;
  padding: 10px;
  margin: 0 20%;
  @include media($tablet) {
    width: 100%;
    margin: 0;
  }
}
.form-inputs input {
  @include submit-field-formatting;
}

.form-actions input{
  @include submit-field-formatting;
  // @include background-image(linear-gradient($green-lighter 0, $green-lightest 100%, transparent 50%));
  // border-color: $green-darkest;
  background-color: $buttons;
  color: $white;
  // &:hover{
  //   @include background-image(linear-gradient($green-light 0, $green-dark 100%, transparent 50%));
  // }
}

.signup-info{
  font-size: $mod-scale-0;
  padding: 0;
  margin: 0 0 10px 0;
}

.marketing-text{
  text-align: center;
  h1{
    margin: 5px 0;
  }
  p{
    margin: 5px 0 20px 0;
  }
}

.marketing-info-box{
  @include span-columns(4);
  text-align: center;
  @include media($tablet) {
    @include span-columns(6);
  }
}

.marketing-row:last-child{
  @include omega();
}

.marketing-icon{
  margin: $mod-scale-2;
  color: $actions;
  // i{
  //   border: 1px solid $grey-light;
  //   border-radius: 50%;
  //   padding: 20px;
  // }
}

.marketing-inner-container,
.enterprise-inner-container{
  @include span-columns(12);
  @include omega();
}

.form-container {
  background: #fff;
  margin: 100px auto;
  border: 1px solid #ccc;
  position: relative;
  // border-top-left-radius: 2px;
  // border-top-right-radius: 2px;
  width: 50%;
  @include media($tablet) {
    width: 95%;
  }
}

// .todo-container:before {
//   content: '';
//   // border-left: 1px solid #f5d6d6;
//   // border-right: 1px solid #f5d6d6;
//   width: 2px;
//   position: absolute;
//   top: 0;
//   left: 40px;
//   height: 100%;
// }

.main {
  position: relative;
  z-index: 2;
  // border-top: 1px dotted #adadad;
}

.form-list {
  margin: 0;
  padding: $mod-scale-2;
  list-style: none;
}

.form-list li {
  position: relative;
  height: $mod-scale-2;
}

// .todo-list li:last-child {
//   border-bottom: none;
// }

.todo{

    vertical-align: middle;

}

input[type="checkbox"],
[type="radio"] {
  display: none;
}

input[type="checkbox"] + label.todo:before,
input[type="radio"] + label.collection_radio_buttons:before {
  font-family: 'FontAwesome';
  font-size: $mod-scale-1;
  width: $mod-scale-2;
  color: $buttons;
  display: inline-block;
  vertical-align:middle;
}

input[type="checkbox"] + label.todo:before {
  content: "\f096"; /* check-empty */
}

input[type="checkbox"]:checked + label.todo:before {
  content: "\f046"; /* check */
}

input[type="radio"] + label.collection_radio_buttons:before {
   content: "\f10c"; /* check-empty */
}

input[type="radio"]:checked + label.collection_radio_buttons:before {
   content: "\f111"; /* check */
}

label.collection_radio_buttons {
  padding-right: $mod-scale-0;
}

.form-list input[type="text"] {
  @include submit-field-formatting;
}

.health_profile_systolic_bp,
.health_profile_diastolic_bp {
  display: inline-block;
  width: 30%;
}

input#health_profile_dob,
input#health_profile_weight,
input#health_profile_height {
  display: inline-block;
  width: 30%;
  @include media($tablet) {
    width: 50%;
  }
}


.health_profile_dob label,
.hp,
.health_profile_weight label,
.health_profile_height label {
  display: inline-block;
  width: 25%;
}

abbr {
  display: none;
}

.health_profile_gender{
  margin-bottom: 10px;
}

p.form-info {
  font-family: 'Nexus Three', Arial, sans-serif;
}

.form-actions.health-profile-form{
  padding-top: $mod-scale-2;
}

.toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  /*-moz-appearance: none;*/
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

// .toggle:after {
//   content: '✔';
//   line-height: 43px; /* 40 + a couple of pixels visual adjustment */
//   font-size: 20px;
//   color: #d9d9d9;
//   text-shadow: 0 -1px 0 #bfbfbf;
// }

// .toggle:checked:after {
//   color: #85ada7;
//   text-shadow: 0 1px 0 #669991;
//   bottom: 1px;
//   position: relative;
// }





